.titulo {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.caixamaiorprod {
    width: 90%;
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;

}

.caixaproduto {
    width: 20%;
    height: 21rem;
    border-radius: 0.5rem;
    background-color: chocolate;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
}

.btncarrinho {
    width: 10rem;
    height: 3rem;
    border-radius: 5%;
    font-size: 1.5rem;
    background-color: rgb(255, 153, 0);
    color: white;
    border-color: aliceblue;
}

.imgproduto {
    width: 13rem;
    height: 11rem;
    border-radius: 0.5rem;
}


/*Tela dois Carrinho*/

/*.caixaMaeCarrinhoV{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
}*/

.caixaPaiMenucarringo {
    /*background-color: royalblue;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.caixaBTNcarrinho {
    background-color: saddlebrown;
    color: white;
}

.btncomprarvolta {
    width: 10rem;
    height: 5rem;
    border-radius: 4%;
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0);
    color: white;
}

.caixaH1carrinho {
    /* background-color: red;*/
    margin-left: auto;
    margin-right: auto;
}

.CoresCarrinho {
    width: 50%;
    /*background-color: royalblue;*/

}

.EscritsInputCor {
    font-size: 2.5rem;
}

.imgCarrocelCarrinho {
    width: 50%;
    height: 40rem;
    /*background-color: yellowgreen;*/
}
.caixasolitariatest{
     width: 50%;
    height: 40rem;
    background-color: rgb(174, 50, 205);
}

.imgprodutoDetalhesCarrinho {
    width: 40rem;
    height: 35rem;
    border-radius: 0.5rem;
    background-color: brown;
    margin-top: 3rem;
}

.caixaPaiImgDetalhesCarrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 217, 217);
    width: 90%;
    height: 80vh;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}
.BtnIaDev{
    background-color: rgb(255, 153, 0);
    width: 25%;
    margin-top: 15rem;
}

.Inputittt {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.corescores{
    width: 5rem;
    height: 3rem;
}
.option{
  display:flex;
  align-items:center;
  gap:10px;
  cursor:pointer;
}

.option img{
  width:30px;
  height:30px;
  border-radius:4px;
}
.escritaSledt{
    font-size: 1.5rem;
}