.CXConteudoFoto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;

}

.CXFotos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    flex-direction: row;
   
    width: 90%;
    flex-wrap: wrap;
}
.FotoCaixamaior{
    margin-top: 1rem;
    margin-bottom: 2rem;
}