.card {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
  cursor: pointer;
  overflow: hidden;
}

.card.hovered {
  transform: scale(1.3); /* Cresce 10% */
  box-shadow: 0 10px 20px rgba(0,0,0,0.5); /* Sombra para dar profundidade */
  height: 20rem;
    width: 20rem;
    background-color: #cfcfcf;
    margin-top: 10rem;
    border-radius: 2rem;
}

.card-info {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 25rem;
    width: 25rem;
}

.IMGFT{
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    background-color: aqua;
}

.card:hover .card-info {
    opacity: 1;
}

.CXFT {
    height: 20rem;
    width: 20rem;
    background-color: #cfcfcf;
    margin-top: 10rem;
    border-radius: 2rem;
}



