.card {
    position: relative;
    /* ESSENCIAL */
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
}
.card-info {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.3s;
    display:flex;
    align-items:center;
    justify-content:center;
}
.IMGFT {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover; /* evita imagem esticada */
    transition: transform .4s ease;
}

.card:hover .card-info {
    opacity: 1;
}

.card:hover .IMGFT{
    transform: scale(1.1);
}
.CXFT {
    height: 20rem;
    width: 20rem;
    background-color: #cfcfcf;
    border-radius: 2rem;
}