body {
    margin: 0;
}

.body {
    background-image: url(./../Imagens/Papel_de_fundo_Login.png);
    background-size: cover;
    /* Cobre toda a tela, ajustando o tamanho */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Não repete a imagem */
    background-attachment: fixed;
    /* A imagem fica fixa ao rolar a página */
    height: 100vh;
    /* Garante que o body ocupe a altura total */
    margin: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    /*Resolvido Provisoriamente*/
}

.INPUT {
    width: 35rem;
    height: 60px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 0px solid;
    background-color: #bbbaba;
    color: white;
    align-items: center;
}

input::placeholder {
    color: #e9e9e9;
    font-size: 2rem;
}

.CXINPUT {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.CXPrincipal {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    width:75%;
    border-radius: 25px;
    margin: auto;
}

.CXBTNLogin {
    background-color: tomato;
    width: 50%;
}