.selectHeader{
border:1px solid, #cac9c9;
padding:5px;
cursor:pointer;
display:flex;
gap:5rem;
align-items:center;
font-size: 1.6rem;
width: 25rem;
background-color: #f3f3f3;
border-radius: 1rem;
}

.selectLista{
border:1px solid #ccc;
}

.selectItem{
display:flex;
align-items:center;
gap:25px;
padding:8px;
cursor:pointer;
}

.selectItem:hover{
background:#f3f3f3;
}
.selectImagem{
width: 7rem;
  height: 5rem;
  border-radius: 1rem;
}